.cardHolder {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px hsl(0, 1%, 16%);
    padding: 20px;
    margin: 10px;
    width: 250px;
    float: inline-start;
    display: flex; 
    flex-direction: column; 
}